<main class="main">
  <div class="content">
    <div class="left-side">
      <h2>Azure Credentials</h2>
      <p>Please enter your Azure credentials to get started.</p>
      <div class="angular-logo">
        <!-- Azure Logo from URL-->
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Microsoft_Azure.svg/150px-Microsoft_Azure.svg.png"
          alt="Azure Logo"
        />
      </div>

      <!-- Add Angular Material form groups for Client ID, Client Secret, Subscription ID and Tenant ID -->

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Client ID</mat-label>
          <input matInput formControlName="clientId" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Client Secret</mat-label>
          <input matInput formControlName="clientSecret" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Subscription ID</mat-label>
          <input matInput formControlName="subscriptionId" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Tenant ID</mat-label>
          <input matInput formControlName="tenantId" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Access Key</mat-label>
          <input matInput formControlName="acccessKey" />
        </mat-form-field>
      </form>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="github-credentials">
        <h3>GitHub Credentials</h3>
        <span>
          Please enter your GitHub credentials to get started. If you don't have
          a GitHub account, you can create one
          <a href="" target="_blank">here</a>.
        </span>
        <br />
        <div class="az-block">
          <div class="code-block">
            AZURE_CLIENT_ID={{ form.value.clientId }}<br />
            AZURE_CLIENT_SECRET={{ form.value.clientSecret }}<br />
            AZURE_SUBSCRIPTION_id={{ form.value.subscriptionId }}<br />
            AZURE_TENANT_ID={{ form.value.tenantId }}<br />
            AZURE_TFSA_ACCESS_KEY={{ form.value.acccessKey }}<br />
            AZURE_CREDENTIALS={{
              "{clientId:" +
                '"' +
                form.value.clientId +
                '"' +
                ",clientSecret:" +
                '"' +
                form.value.clientSecret +
                '"' +
                ",subscriptionId:" +
                '"' +
                '"' +
                form.value.subscriptionId +
                '"' +
                ',tenantId:"' +
                form.value.tenantId +
                '"}'
            }}
          </div>

          <div class="pill-group">
            <button mat-icon-button (click)="azCredentialCopyToClipboard()">
              <mat-icon>content_copy</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <br />
      <hr />
      <br />
      <div class="github-login">
        <h3>Azure Login</h3>
        <span>Run the following command to login to Azure.</span>
        <br />
        <div class="az-block">
          <div class="code-block">
            {{
              "az login --service-principal -u " +
                this.form.value.clientId +
                " -p " +
                this.form.value.clientSecret +
                " --tenant " +
                this.form.value.tenantId
            }}
          </div>
          <button mat-icon-button (click)="azLoginCopyToClipboard()">
            <mat-icon>content_copy</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</main>

<router-outlet />
